
<section class="experience">
        <h1 class="title">Mes expériences</h1>
        <div id="carousel1" class="carousel">
                <div class="item card">
                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                </div>
                <div class="item card">
                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                </div>
                <div class="item card">
                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                </div>
                <div class="item card">
                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                </div>
                <div class="item card">
                        <img src="{{ asset ('img/testProj.png') }}" alt="">
                </div>

        </div>
</section>