
<section class="experience" id="experience">
        <div class="ContentSection">
                <h1 class="title">{% trans %}My experiences :{% endtrans %}</h1>
                <div id="carousel1">
                        {% if app.request.locale =='en' %}
                                {% for experience in experiences  %}
                                        <div class="item card">
                                                {% if experience.filename %}
                                                        <img src="{{ vich_uploader_asset(experience, 'imageFile') }}" alt="">
                                                {% endif %}
                                                <div class="CardContent">
                                                        <div class="titleCard">
                                                                <h1>{{ experience.experienceEn }}</h1>
                                                        </div>
                                                        <div class="CardDescription">
                                                                <p>{{ experience.experienceSubTitleEn }}</p>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        {% endif %}

                        {% if app.request.locale =='fr' %}
                                {% for experience in experiences  %}
                                        <div class="item card">
                                                {% if experience.filename %}
                                                        <img src="{{ vich_uploader_asset(experience, 'imageFile') }}" alt="">
                                                {% endif %}
                                                <div class="CardContent">
                                                        <div class="titleCard">
                                                                <h1>{{ experience.experienceFr }}</h1>
                                                        </div>
                                                        <div class="CardDescription">
                                                                <p>{{ experience.experienceSubTitleFr }}</p>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        {% endif %}
                </div>
        </div>
</section>