{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/BlueBtn') }}
    {{ encore_entry_link_tags('scss/aboutMe') }}
    {{ encore_entry_link_tags('scss/card') }}
    {{ encore_entry_link_tags('scss/carousel') }}
    {{ encore_entry_link_tags('scss/form') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/carousel') }}
{% endblock %}

{% block body %}
    <main>
        {% include 'pages/AboutMe.html.twig' %}
        {% include 'pages/experiences.html.twig' %}
        {% include 'pages/ContactMe.html.twig' %}
    </main>
{% endblock %}