
<section id="skill">
    <div class="ContentSection skillsContent">
        <h1 class="title">{% trans %}My skills :{% endtrans %}</h1>
        <div class="skillItems">
            {% if app.request.locale == 'en' %}
                {% for skill in skills %}
                    <div class="skill">
                        <div class="leftSkill">
                            <div class="icon">{{ skill.skillIcon|raw }}</div>
                            <div class="skillTitles">
                                <div class="titleSkill"><h1>{{ skill.skillEn }}</h1></div>
                                <div class="subTitleSkill"><h2>{{ skill.SubTitleSkillEn }}</h2></div>
                            </div>
                        </div>
                        <div class="rightSkill">
                            <div class="icon"><i class="fa-solid fa-square-plus"></i></div>
                        </div>
                    </div>
                    <div class="skillModalBackground">
                        <div class="skillModal">
                            <div class="modalTop">
                                <h1 class="skillmodalTitle">{{ skill.skillEn }}</h1>
                                <i class="fa-solid fa-xmark closeModal"></i>
                            </div>
                            <h2 class="skillmodalSubTitle">{{ skill.SubTitleSkillEn }}</h2>
                            <p class="skillmodalText">{{ skill.skillDescriptionEn|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


            {% if app.request.locale == 'fr' %}
                {% for skill in skills %}
                    <div class="skill">
                        <div class="leftSkill">
                            <div class="icon">{{ skill.skillIcon|raw }}</div>
                            <div class="skillTitles">
                                <div class="titleSkill"><h1>{{ skill.skillFr }}</h1></div>
                                <div class="subTitleSkill"><h2>{{ skill.SubTitleSkillFr }}</h2></div>
                            </div>
                        </div>
                        <div class="rightSkill">
                            <div class="icon"><i class="fa-solid fa-square-plus"></i></div>
                        </div>
                    </div>
                    <div class="skillModalBackground">
                        <div class="skillModal">
                            <div class="modalTop">
                                <h1 class="skillmodalTitle">{{ skill.skillFr }}</h1>
                                <i class="fa-solid fa-xmark closeModal"></i>
                            </div>
                            <h2 class="skillmodalSubTitle">{{ skill.SubTitleSkillFr }}</h2>
                            <p class="skillmodalText">{{ skill.skillDescriptionFr|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>