{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/header') }}
    {{ encore_entry_link_tags('scss/about') }}
    {{ encore_entry_link_tags('scss/btn') }}
    {{ encore_entry_link_tags('scss/skills') }}
    {{ encore_entry_link_tags('scss/dropdown') }}
    {{ encore_entry_link_tags('scss/dropdownTheme1') }}
{% endblock %}

{% block body %}
    <div class="header">
        <div class="content">
            <div class="name"><h1>Oscar PALISSOT</h1></div>
            <nav class="navigation">
                <ul class="menuItems">
                    <li><a href="" class="link">Qui suis-je ?</a></li>
                    <li><a href="" class="link">Compétences</a></li>
                    <li><a href="" class="link">Expériences</a></li>
                    <li><a href="" class="link">Formations</a></li>
                    <li><a href="" class="link">Diplômes</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="about">
            <div class="aboutLeft">
                <h1 class="title">Qui suis-je ?</h1>
                <h2 class="subTitle">Etudiant ingénieur</h2>
                <p class="aboutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn" href="">Télécharger mon CV<i class="far fa-address-card"></i></a>
                
            </div>
            <div class="aboutRight">
                <img src={{ asset ('img/cv.png')}} alt="" class="aboutImg">
            </div>
        </div>
        <div class="skills">
            <h1 class="title">Compétences</h1>
            <div class="dropdown">
                <i class="fas fa-angle-down fa-2x"></i>
                <input class="toogle" type="checkbox"></input>
            </div>
        </div>
        {# <a class="btn" href="">Me contacter<i class="far fa-paper-plane"></i></a> #}
    </main>
{% endblock %}