<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Oscar PALISSOT{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/img/favicon.svg?v=2">
        <script src="https://kit.fontawesome.com/695ef1a9d2.js" crossorigin="anonymous"></script>

        {{ encore_entry_link_tags('scss/base') }}
        {{ encore_entry_link_tags('scss/header') }}
        {{ encore_entry_link_tags('scss/menuBtn') }}
        {{ encore_entry_link_tags('scss/section') }}
        {{ encore_entry_link_tags('scss/footer') }}
        {{ encore_entry_link_tags('scss/switchLanguageBtn') }}

        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('js/menuBtn') }}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <nav class="navigation">
                <div class="name">
                    <a href="/"><h1>Oscar PALISSOT</h1></a>
                </div>
                <input id="NavToggle" type="checkbox">
                <label id="nav-btn" for="NavToggle">
                    <div class="menu-btn">
                        <div class="menu-btn-burger"></div>
                    </div>
                </label>
                <ul class="menuItems">
                    <li><a href="#about" class="link">{% trans %}Who am I?{% endtrans %}</a></li>
                    <li><a href="#skill" class="link">{% trans %}Skills{% endtrans %}</a></li>
                    <li><a href="#experience" class="link">{% trans %}Experiences{% endtrans %}</a></li>
                    <li><a href="#contact" class="link">{% trans %}Contact me{% endtrans %}</a></li>
                    <li>
                        <div class="switchLanguages">
                            <div class="switchLanguagesBtn">
                                <img src="{{ asset ('img/fr.svg') }}" alt="fr" id="fr" class="selectLanguage">
                                <img src="{{ asset ('img/gb.svg') }}" alt="en" id="en" class="unSelectedLanguage">
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        {% block body %}

        {% endblock %}


        <div class="footer">
            <a href="" class="footerLink">{% trans %}Who am I?{% endtrans %}</a>
            <a href="" class="footerLink">{% trans %}Skills{% endtrans %}</a>
            <a href="" class="footerLink">{% trans %}Experiences{% endtrans %}</a>
            <a href="" class="footerLink">{% trans %}Contact me{% endtrans %}</a>
        </div>
    </body>

    
</html>
